autodocsumm
myst-parser
sphinx
sphinx-rtd-theme
sympy

ipykernel
plotly
jupyter-sphinx
ase

--find-links https://download.pytorch.org/whl/cpu
torch==1.11.0+cpu

--find-links https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

.
