autodocsumm
myst-parser
sphinx
sphinx-rtd-theme
sympy

ipykernel
plotly
matplotlib==3.7.3
jupyter-sphinx
ase

--find-links https://download.pytorch.org/whl/cpu
torch

--find-links https://data.pyg.org/whl/torch-2.0.0+cpu.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

.
