name: Check Syntax and Run Tests

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install flake8
      run: |
        pip install flake8
    - name: Lint with flake8
      run: |
        # Stop the build if there are style issues, Python syntax errors, or undefined names
        flake8 . --count --show-source --statistics
    - name: Install dependencies
      env:
        TORCH: "1.8.1"
        TORCHG: "1.8.0"
        CUDA: "cpu"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install torch==${TORCH} torchvision torchaudio -f https://download.pytorch.org/whl/cpu/torch_stable.html
        pip install torch-scatter -f https://pytorch-geometric.com/whl/torch-${TORCHG}+${CUDA}.html
        pip install torch-sparse -f https://pytorch-geometric.com/whl/torch-${TORCHG}+${CUDA}.html
        pip install torch-cluster -f https://pytorch-geometric.com/whl/torch-${TORCHG}+${CUDA}.html
        pip install torch-spline-conv -f https://pytorch-geometric.com/whl/torch-${TORCHG}+${CUDA}.html
        pip install torch-geometric
        pip install .

        pip install plotly
    - name: Install pytest
      run: |
        pip install pytest pytest-cov
        pip install coveralls
    - name: Test with pytest
      run: |
        coverage run --source=e3nn -m pytest --doctest-modules .
    - name: Upload to coveralls
      if: github.event_name == 'push'
      run: |
        COVERALLS_REPO_TOKEN=${{ secrets.COVERALLS_TOKEN }} coveralls
